* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  height: 500px;       /* ✅ fixed height for all slides */
  position: relative;
  margin: auto;
  overflow: hidden;    /* prevents images from overflowing */
  background: #000;    /* optional: black background */
}
/* Each slide */
.mySlides {
  position:absolute;
  width: 100%;
  height: 100%;            /* take full height of container */
  display: flex;           /* center the image */
  justify-content: center;
  align-items: center;

}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}


.slide-next{
  animation-name: slidenext;
    animation-duration: 0.4s;
}
@keyframes slidenext {
from {
    transform: translateX(50%);
  
}
to{
    transform: translateX(0%);
    
}
}

.slide-prev {
  animation-name: slidePrev;
    animation-duration: 0.4s;
}

@keyframes slidePrev {
  from {
    transform: translateX(-50%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

